.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form-button, .hero-section__button, .subscribe-form__button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #757575;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;
}

body.modal-open, body.mobile-open {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body.modal-open, body.mobile-open {
    overflow: auto;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
}

.logo__web {
  color: #2196f3;
}

@media screen and (max-width: 767.5px) {
  .page-header__logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.animate__rubberBand {
  animation-duration: 600ms;
}

.backdrop {
  padding: 93px 15px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: scroll;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 450px) and (max-width: 1199.5px) {
  .modal-window {
    max-width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  color: #2196f3;
  border-color: #212121;
  outline: none;
}

.modal-button__icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  position: relative;
  display: block;
  margin-top: 4px;
  color: #212121;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  color: #2196f3;
}

.modal-form__label {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form--label {
  margin-bottom: 20px;
}

.modal-form--textarea {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-form--textarea::placeholder {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox-policy {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .form-checkbox-policy {
    font-size: 12px;
    line-height: 1.2;
  }
}

.form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  content: '';
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-policy::before {
  background-image: url("../img/icon-checked.svg");
  background-position: center;
  background-size: cover;
  background-color: #2196f3;
  border: none;
}

.form-checkbox:focus + .form-checkbox-policy::before {
  border-color: #2196f3;
}

.form-checkbox:focus:checked + .form-checkbox-policy::before {
  outline: auto #212121;
}

.form-checkbox-policy__link {
  color: #2196f3;
}

.form-checkbox-policy__link:hover, .form-checkbox-policy__link:focus {
  text-decoration: none;
}

.form-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px 10px 55px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
}

.mobile-button {
  z-index: 2;
  padding: 22px 0;
  cursor: pointer;
  background-color: #ffffff;
  color: #212121;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button:hover, .mobile-button:focus {
  color: #2196f3;
}

.mobile-button__cross {
  opacity: 0;
  transform: translateY(100%);
}

.mobile-button.is-open .mobile-button__cross {
  transform: translateX(0);
  opacity: 1;
}

.mobile-button.is-open .mobile-button__menu {
  transform: translateY(100%);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

.mobile-button__icon {
  fill: currentColor;
}

.mobile-button__cross {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button__menu {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  z-index: 1;
  background-color: #ffffff;
}

@media screen and (max-width: 767.5px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 40px;
    overflow-y: scroll;
    transform: translateY(-200%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    transform: translateY(0);
  }
}

@media screen and (max-width: 310px) {
  .menu-container {
    padding: 38px 15px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.page-header {
  position: relative;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.5px) {
  .page-nav {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-nav__list {
    display: flex;
  }
}

@media screen and (max-width: 767.5px) {
  .page-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .page-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover, .page-nav__link:focus {
  outline: none;
  text-decoration: underline;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .page-nav__link {
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.page-nav--current {
  color: #2196f3;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .page-nav--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    border-radius: 4px;
    background: #2196f3;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contacts {
    padding: 16px 0;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.5px) {
  .contacts__link {
    transition: font-size 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
    font-size: 34px;
    outline: none;
    text-decoration: underline;
  }
}

@media screen and (max-width: 380px) {
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
  }
  .contacts__link:hover, .contacts__link:focus {
    outline: none;
    color: #2196f3;
    animation: heartBeat;
    animation-duration: 600ms;
  }
}

@media (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    border: 0;
    margin-right: 10px;
    fill: currentColor;
  }
}

.social-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .social-menu {
    display: none;
  }
}

.social-menu__item {
  margin-top: 10px;
  margin-left: 10px;
}

.social-menu__item:not(:last-child)::after {
  content: '';
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.social-menu__link {
  font-size: 18px;
  line-height: 1.2;
  color: #2196f3;
}

.social-menu__link:hover, .social-menu__link:focus {
  animation: fadeIn;
  animation-duration: 800ms;
}

.hero-section {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767.5px), (min-resolution: 192dpi) and (max-width: 767.5px), (min-resolution: 2dppx) and (max-width: 767.5px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop@2x.jpg");
  }
}

.hero-section__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
  }
}

.hero-section__button {
  min-width: 200px;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover, .hero-section__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .benefits-list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767.5px) {
  .benefits-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .benefits-list__item {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: 270px;
  }
  .benefits-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
}

.occupation {
  padding-bottom: 94px;
}

@media (max-width: 1200px) {
  .occupation {
    display: none;
  }
}

.occupation__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.occupation-list {
  display: flex;
  justify-content: space-between;
}

.occupation-list__thumb {
  position: relative;
}

.occupation-list__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  overflow: auto;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

@media (min-width: 768px) {
  .team-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team-card__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .team-card__item {
    width: 450px;
  }
}

@media (max-width: 767.5px) {
  .team-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .team-card__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-card__item {
    width: calc(100% / 4 - 30px);
  }
}

.team-card__desc {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.social-network {
  display: flex;
  justify-content: center;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  border-radius: 50%;
  outline: none;
  color: #f5f4fa;
  background-color: #2196f3;
}

.social-network__icon {
  fill: currentColor;
}

.regular-customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.customers {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1199.5px) {
  .customers {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (max-width: 767.5px) {
  .customers__item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: 768px) and (max-width: 1199.5px) {
  .customers__item {
    width: calc(100% / 3 - 30px);
  }
}

@media (max-width: 1199.5px) {
  .customers__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
  .customers__item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  outline: none;
  border: 1px solid #2196f3;
  color: #2196f3;
  animation: swing;
  animation-duration: 500ms;
}

.customers__icon {
  fill: currentColor;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media (max-width: 1199.5px) {
  .page-footer--container {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .page-footer--container {
    display: flex;
    align-items: baseline;
  }
}

.page-footer--logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
  }
}

@media (max-width: 767.5px) {
  .address-container {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
    align-items: baseline;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  outline: none;
  color: #2196f3;
  animation: bounceIn 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list--link {
  color: #ffffff;
}

@media screen and (max-width: 767.5px) {
  .join {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.social {
  display: flex;
}

@media (max-width: 767.5px) {
  .social {
    justify-content: center;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  outline: none;
  background-color: #2196f3;
  animation: flip 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
}

@media (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe__title, .join__title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form__input {
  width: 358px;
  min-height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199.5px) {
  .subscribe-form__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .subscribe-form__input {
    width: 100%;
  }
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:required:focus:not(:placeholder-shown):valid {
  border-color: #2196f3;
}

.subscribe-form__input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.subscribe-form__input:hover, .subscribe-form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .subscribe-form__button {
    margin-left: 12px;
  }
}

@media (max-width: 1199px) {
  .subscribe-form__button {
    margin: 0 auto;
  }
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: #188ce8;
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.copy-right {
  margin-top: 50px;
  text-align: center;
  font-size: 10px;
}

.projects-filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -8px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .projects-filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-filters {
    margin-bottom: 50px;
  }
}

.projects-filters__item {
  margin-left: 8px;
  margin-top: 15px;
}

.projects-filters__button {
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  background: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-filters__button:hover, .projects-filters__button:focus {
  outline: none;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  animation: pulse;
  animation-duration: 500ms;
}

@media screen and (min-width: 768px) {
  .projects-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects-cards__item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767.5px) {
  .projects-cards__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-cards__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-cards__item {
    width: calc(100% / 3 - 30px);
  }
}

.projects-cards__link {
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-cards__link:hover, .projects-cards__link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cards__link:hover .projects-cards__desc, .projects-cards__link:focus .projects-cards__desc {
  transform: translateY(0);
  opacity: 1;
  outline: none;
}

.projects-cards__overlay {
  position: relative;
  overflow: hidden;
}

.projects-cards__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.5px) {
  .projects-cards__desc {
    padding: 77px 24px;
  }
}

@media screen and (max-width: 400px) {
  .projects-cards__desc {
    padding: 40px 24px;
    overflow-y: auto;
  }
}

@media screen and (min-width: 768px) {
  .projects-cards__desc {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-cards__desc {
    padding: 63px 24px;
  }
}

.projects-cards__content {
  flex-grow: 1;
  padding: 20px 24px;
}

@media screen and (min-width: 1200px) {
  .projects-cards__content {
    width: 370px;
  }
}

.projects-cards__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.1;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-cards__text {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */