:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-white-color);

  font-family: var(--main-font);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

/* .link {
  text-decoration: none;
} */

/* ------------ Container ------------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------ Header -----------------*/
.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
}

.page-nav__logo {
  margin-right: 93px;
}

.animate__rubberBand {
  animation-duration: 600ms;
}

.logo__web {
  color: var(--accent-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav__list {
  display: flex;
}

.page-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* .nav-list__item + .nav-list__item {
  margin-left: 50px;
} */

.page-nav__link {
  display: block;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover,
.page-nav__link:focus {
  outline: none;
  color: var(--accent-color);
}

.page-nav--current {
  color: var(--accent-color);
  padding-bottom: 0px;
}

.page-nav--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 4px;
  background: #2196f3;
}

.contacts {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
/* .contacts-list > .item + .item {
  margin-left: 30px;
} */

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  outline: none;
  color: var(--accent-color);
  animation: heartBeat;
  animation-duration: 600ms;
}

.contacts__icon {
  border: 0;
  margin-right: 10px;
  fill: currentColor;
}

/*---------- Hero section ------------*/

.hero-section {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/header-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-section__button {
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #188ce8;
}

/*-------------- Benefits -----------------*/

.benefits-list {
  display: flex;
}
.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list__item {
  flex-basis: 270px;
}

.benefits-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-color);
  border-radius: 4px;
}

/* .benefits-list > .item::before {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  content: "";
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
}
.benefits-list .icon-details::before {
  background-image: url(../img/antenna-icon.svg);
}
.benefits-list .icon-punctuality::before {
  background-image: url(../img/clock-icon.svg);
}
.benefits-list .icon-planning::before {
  background-image: url(../img/diagram-icon.svg);
}
.benefits-list .icon-technologies::before {
  background-image: url(../img/astronaut-icon.svg);
} */

.benefits-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
}

/*---------- What we're doing ----------*/

.occupation {
  padding-bottom: 94px;
}

.occupation-list {
  display: flex;
  justify-content: space-between;
}

.occupation-list__thumb {
  position: relative;
}

.occupation-list__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 82px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  overflow: auto;
}

/*---------- What we're doing and Our Team ----------*/

.occupation__title,
.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  color: var(--title-text-color);
}

/*---------- Our Team ----------*/

.team {
  background-color: var(--secondary-color);
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-card__item {
  margin-top: 30px;
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__desc {
  width: 270px;
  padding: 30px 0;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover,
.social-network__link:focus {
  border-radius: 50%;
  outline: none;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.social-network__icon {
  fill: currentColor;
}

/*---------- Regular Customers ----------*/

.regular-customers__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  color: var(--title-text-color);
}

.customers {
  display: flex;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
  outline: none;
  border: 1px solid #2196f3;
  color: var(--accent-color);
  animation: swing;
  animation-duration: 500ms;
}

.customers__icon {
  fill: currentColor;
}

/*------------- Footer ---------------*/

.page-footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.page-footer--container {
  display: flex;
  align-items: baseline;
}

.page-footer--logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address-container {
  align-items: baseline;
  margin-right: 70px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  color: var(--footer-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list--link {
  color: var(--primary-white-color);
}

.address-list__link:hover,
.address-list__link:focus {
  outline: none;
  color: var(--accent-color);
  animation: bounceIn 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  margin-right: 93px;
}

.join__title,
.subscribe__title {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
/* .social-network {
  display: flex;
  justify-content: space-evenly;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover,
.social-network__link:focus {
  border-radius: 50%;
  outline: none;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.social-network__icon {
  fill: currentColor; */

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  outline: none;
  background-color: var(--accent-color);
  animation: flip 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  min-height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:required:focus:not(:placeholder-shown):valid {
  border-color: var(--accent-color);
}

.subscribe-form__input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.subscribe-form__input:hover,
.subscribe-form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: #188ce8;
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

/*----------------- Modal Window ------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 40px;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__icon {
  fill: currentColor;
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
  border-color: var(--title-text-color);
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form__field {
  position: relative;
  display: block;
  margin-top: 4px;
  color: var(--title-text-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input:required:focus:not(:placeholder-shown):valid {
  border-color: var(--accent-color);
}

.form-input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
} */

.modal-form__input:focus + .form-icon {
  color: var(--accent-color);
}

.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form--label {
  margin-bottom: 20px;
}

.modal-form--textarea {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-form--textarea::placeholder {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox-policy {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  content: '';
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-policy::before {
  background-image: url('../img/icon-checked.svg');
  background-position: center;
  background-size: cover;
  background-color: var(--accent-color);
  border: none;
}

.form-checkbox:focus + .form-checkbox-policy::before {
  border-color: var(--accent-color);
}

.form-checkbox:focus:checked + .form-checkbox-policy::before {
  outline: auto var(--title-text-color);
}

.form-checkbox-policy__link {
  color: var(--accent-color);
}

.form-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px 10px 55px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

/*------------------ Portfolio -------------------*/

.projects-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filters__item:not(:last-child) {
  margin-right: 8px;
}

.projects-filters__button {
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  background: var(--secondary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-filters__button:hover,
.projects-filters__button:focus {
  outline: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  animation: pulse;
  animation-duration: 500ms;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.projects-cards__item {
  /* -----------   1 способ сетки
  width: calc((100% - 60px) / 3 );

  margin-right: 30px;
  margin-bottom: 30px;  
  */

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* ----------   1 способ сетки
.projects-card > .item:nth-child(3n) {
  margin-right: 0;
}

.projects-card > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* ----- Альтернатива отступов
.projects-card > .item:not(:nth-child(3n)) {
margin-right: 30px;
}

.projects-card > .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.projects-cards__link {
  display: block;
  text-decoration: none;
}

.projects-cards__link:hover,
.projects-cards__link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cards__overlay {
  position: relative;
  overflow: hidden;
}

.projects-cards__desc {
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.projects-cards__link:hover .projects-cards__desc,
.projects-cards__link:focus .projects-cards__desc {
  transform: translateY(0);
  opacity: 1;
  outline: none;
}

.projects-cards__content {
  width: 370px;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projects-cards__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 2.1;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects-cards__text {
  font-size: 16px;
  line-height: 1.9;

  color: var(--primary-text-color);
}
