.benefits-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.benefits-list__item {
  @media screen and (max-width: 767.5px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.benefits-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-color;
  border-radius: 4px;
}

.benefits-list__title {
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  text-align: center;
  margin-bottom: 10px;
  @include title-font($lh: 1.14);
  text-transform: uppercase;
  color: $title-text-color;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
}
