.benefits-list {
  display: flex;
}

.benefits-list__item {
  flex-basis: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-color;
  border-radius: 4px;
}

.benefits-list__title {
  margin-bottom: 10px;
  @include title-font($lh: 1.14);
  text-transform: uppercase;
  color: $title-text-color;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
}
