.team {
  background-color: $secondary-color;

  &__title {
    margin-bottom: 50px;
    @include title-font($fs: 36px, $lh: 1.2);
    text-align: center;

    color: $title-text-color;
  }
}

.team-card {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team-card__item {
  width: 100%;
  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    width: 450px;
  }
  @media (max-width: 767.5px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__desc {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $title-text-color;
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.social-network {
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
}

.social-network__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: $icon-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    outline: none;
    color: $secondary-color;
    background-color: $accent-color;
  }
}

.social-network__icon {
  fill: currentColor;
}
