.logo {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;

  &__web {
    color: $accent-color;
  }
}

.page-header__logo {
  @media screen and (max-width: 767.5px) {
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.animate__rubberBand {
  animation-duration: 600ms;
}
