.mobile-button {
  z-index: 2;

  padding: 22px 0;
  cursor: pointer;
  background-color: $primary-white-color;
  color: $title-text-color;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__cross {
    opacity: 0;
    transform: translateY(100%);
  }

  &.is-open .mobile-button__cross {
    transform: translateX(0);
    opacity: 1;
  }

  &.is-open .mobile-button__menu {
    transform: translateY(100%);
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-button__icon {
  fill: currentColor;
}

.mobile-button__cross {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button__menu {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  z-index: 1;
  background-color: $primary-white-color;

  @media screen and (max-width: 767.5px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 40px;
    overflow-y: scroll;
    transform: translateY(-200%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 310px) {
    padding: 38px 15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
