h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: $primary-text-color;
  background: $primary-white-color;

  font-family: $main-font;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;

  &.modal-open,
  &.mobile-open {
    overflow: hidden;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
