$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-color: #f5f4fa;
$footer-link-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
